<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Joseph P. Mckenzie</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <!-- Google fonts - Roboto + Roboto Slab-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,300">
  <!-- owl carousel-->
  <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.css">
  <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.css">
  <!-- animate.css-->
  <link rel="stylesheet" href="vendor/animate.css/animate.css">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- Leaflet CSS - For the map-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/favicon.png">
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
  <!-- Reference item-->
  <!-- navbar-->
  <header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container"><a href="#intro" class="navbar-brand scrollTo">Joseph P Mckenzie</a>
        <button type="button" data-toggle="collapse" data-target="#navbarcollapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler navbar-toggler-right"><span class="fa fa-bars"></span></button>
        <div id="navbarcollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#intro" class="nav-link link-scroll">Intro</a></li>
            <li class="nav-item"><a href="#about" class="nav-link link-scroll">About</a></li>
            <li class="nav-item"><a href="#services" class="nav-link link-scroll">Services</a></li>
            <li class="nav-item"><a href="#testimonials" class="nav-link link-scroll">Testimonials</a></li>
            <li class="nav-item"><a href="#references" class="nav-link link-scroll">My work</a></li>
            <li class="nav-item"><a href="#customers" class="nav-link link-scroll">Clients</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link link-scroll">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Intro Image-->
  <section id="intro" style="background: url(img/home.jpg) center center no-repeat; background-size: cover;"
    class="intro-section pb-2">
    <div class="container text-center">
      <div data-animate="fadeInDown" class="logo"><img src="img/JM-LOGO.png" alt="logo" width="130"></div>
      <h1 data-animate="fadeInDown" class="text-shadow mb-5">Hello, hola, नमस्ते !</h1>
      <p data-animate="slideInUp" class="h3 text-shadow text-400">I will take your existing platform or a new idea and
        turn it into a reality using serverless design patterns.</p>
    </div>
  </section>
  <!-- About-->
  <section id="about" class="about-section">
    <div class="container">
      <header class="text-center">
        <h2 data-animate="fadeInDown" class="title">About me</h2>
      </header>
      <div class="row">
        <div data-animate="fadeInUp" class="col-lg-6">
          <p>
            Experience in everything from HTML, CSS, JavaScript, SQL, noSQL, Node.js, PHP, Scala, Docker,Firebase, RESTful API's, OAuth2, Ruby, Sinatra, CRM experience using Salesforce & Insightly, multiple AWS Services including Lambda, EC2, Elastic Beanstalk, SQS (Simple Queue Service), SNS (Simple Notification Service ), SES (Simple Email Service), ApiGateway and CodeDeploy, RDS, DynamoDB, ElasticCache, AWS Amplify, AppSync and more.</p>
          <p>
            Experience building both native apps and Webwrappers in both android using java and IOS using Swift. Familiar with Windows, MacOS and Linux. Working daily in an agile environment using Scrum principles.
           </p>
           <p>Software Developer with experience developing programs, applications, and websites in financial, retail, non-profit, healthcare, and eCommerce sector. Trained and coached entry level Developers. Available for remote work or relocation.
           </p>
        </div>
        <div data-animate="fadeInUp" class="col-lg-6 col-sm-6 mx-auto mt-5"><img src="img/me.jpg" alt="This is me - IT worker"
            class="image rounded-circle img-fluid" width="300px"></div>
      </div>
    </div>
  </section>
  <!-- Service-->
  <section id="services" class="bg-gradient services-section">
    <div class="container">
      <header class="text-center">
        <h2 data-animate="fadeInDown" class="title">Services</h2>
      </header>
      <div class="row services text-center">
        <div data-animate="fadeInUp" class="col-lg-4">
          <div class="icon"><i class="fa fa-search"></i></div>
          <h3 class="heading mb-3 text-400">Consulting</h3>
          <p class="text-left description">I will take your dream and turn it in to reality. Together we will discuss
            your desires and figure out the best course of action to build and design the app or website of your dreams.
          </p>
        </div>
        <div data-animate="fadeInUp" class="col-lg-4">
          <div class="icon"><i class="fa fa-html5"></i></div>
          <h3 class="heading mb-3 text-400">Cloud Services</h3>
          <p class="text-left description">Are you wishing to take your current system into a cloudbased structure. I
            can turn your old monolithic system into a serverless platform Going serverless can save you money and time
            by not needing to manage a server on your own. </p>
        </div>
        <div data-animate="fadeInUp" class="col-lg-4">
          <div class="icon"><i class="fa fa-tachometer"></i></div>
          <h3 class="heading mb-3 text-400">Application Development</h3>
          <p class="text-left description">Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was
            out laughter raptures returned outweigh. Luckily cheered colonel me do we attacks on highest enabled. Tried
            law yet style child. Bore of true of no be deal.</p>
        </div>
      </div>
      <hr data-animate="fadeInUp">
      <div data-animate="fadeInUp" class="text-center">
        <p class="lead">Would you like to know more or just discuss something?</p>
        <p><a href="#contact" class="btn btn-outline-light link-scroll">Contact me</a></p>
      </div>
    </div>
  </section>
  <!-- Testimonials-->
  <section id="testimonials" class="testimonials-section bg-gray">
    <div class="container">
      <header class="text-center mb-2">
        <h2 data-animate="fadeInUp" class="title">Testimonials</span></h2>
        <p data-animate="fadeInUp" class="lead">I am always glad to hear that my clients leave satisfied. Some of them as well as my coworkers shared with you their insights with working together with me.</p>
      </header>
      <ul data-animate="fadeInUp" class="owl-carousel owl-theme testimonials equalize-height">
        <li class="item">
          <div class="testimonial full-height">
            <div class="text">
              <p>I had the pleasure of going through the same bootcamp as Joe and then working with him at Mined Minds.
                He has a strong passion for tech and learning new tech. He is up for any challenge. In my whole time
                working and learning with him I have never seen him give up. He works until he figures out the answer to
                whatever it is he is trying to do. His skills with AWS are amazing. If it is something he hasn't done
                before he figures it out very quickly. He is a great team member. You know you can depend on him to get
                his part of the project completed. He is someone I loved working with and would highly recommend him as
                a great addition to any team.</p>
            </div>
            <div class="bottom">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="name-picture">
                 <h5>Heather Shockney</h5>
                  <p>Full-Stack Developer<br>Mined Minds</p>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial full-height">
            <div class="text">
              <p>Often times when you talk “back-end” it can be like shouting into a bottomless pit. I worked with Joe
                on a project to improve the true positives on an organic search problem. He listened to the data quality
                issues I identified as impacting the search results then modified the code to begin straining and
                cleaning the data before it made it into the data warehouse. It was wonderful not to have to tackle
                those problems in the DW environment. Timely, quick, accurate coding. Thanks, Joe! </p>
            </div>
            <div class="bottom">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="name-picture">
                <h5>Andrea Brice</h5>
                <p>Data strategist<br>Vizzy Solutions</p>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial full-height">
            <div class="text">
              <p>His room, a proper human room although a little too small, lay peacefully between its four familiar
                walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman -
                and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in
                a nice, gilded frame.</p>
            </div>
            <div class="bottom">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="name-picture"><img alt="" src="img/person-3.jpg">
                <h5>John McIntyre</h5>
                <p>CEO, TransTech</p>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial full-height">
            <div class="text">
              <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the
                dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
            </div>
            <div class="bottom">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="name-picture"><img alt="" src="img/person-4.jpg">
                <h5>John McIntyre</h5>
                <p>CEO, TransTech</p>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial full-height">
            <div class="text">
              <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the
                dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then
                turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which
                made him feel quite sad.</p>
            </div>
            <div class="bottom">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="name-picture"><img alt="" src="img/person-4.jpg">
                <h5>John McIntyre</h5>
                <p>CEO, TransTech</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- Statistics-->
  <section id="statistics" data-dir="up" style="background: url(&quot;img/parallax.jpg&quot;);"
    class="statistics-section text-white parallax parallax">
    <div class="container">
      <div class="row showcase text-center">
        <div data-animate="fadeInUp" class="col-lg-3 col-md-6">
          <div class="item">
            <div class="icon"><i class="fa fa-align-justify"></i></div>
            <h5 class="text-400 mt-4 text-uppercase"><span class="counter">120</span><br>Websites</h5>
          </div>
        </div>
        <div data-animate="fadeInUp" class="col-lg-3 col-md-6">
          <div class="item">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h5 class="text-400 mt-4 text-uppercase"><span class="counter">50</span><br>Satisfied Clients</h5>
          </div>
        </div>
        <div data-animate="fadeInUp" class="col-lg-3 col-md-6">
          <div class="item">
            <div class="icon"><i class="fa fa-copy"></i></div>
            <h5 class="text-400 mt-4 text-uppercase"><span class="counter">320</span><br>Projects</h5>
          </div>
        </div>
        <div data-animate="fadeInUp" class="col-lg-3 col-md-6">
          <div class="item">
            <div class="icon"><i class="fa fa-font"></i></div>
            <h5 class="text-400 mt-4 text-uppercase"><span class="counter">333</span><br>Magazines and Brochures</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-mask"></div>
  </section>
  <!--
    *** REFERENCES IMAGE ***
    _________________________________________________________
    -->
  <section id="references">
    <div class="container">
      <div class="col-sm-12">
        <div class="mb-5 text-center">
          <h2 data-animate="fadeInUp" class="title">My work</h2>
          <p data-animate="fadeInUp" class="lead">I have worked on dozens of projects so I have picked my favorite ones for you.</p>
        </div>
        <%# <ul id="filter" data-animate="fadeInUp">
          <li class="active"><a href="#" data-filter="all">All</a></li>
          <li><a href="#" data-filter="webdesign">Webdesign</a></li>
          <li><a href="#" data-filter="seo">SEO</a></li>
          <li><a href="#" data-filter="marketing">Marketing</a></li>
          <li><a href="#" data-filter="other">Other</a></li>
        </ul> %>
        <div id="detail">
          <div class="row">
            <div class="col-lg-10 mx-auto"><span class="close">×</span>
              <div id="detail-slider" class="owl-carousel owl-theme"></div>
              <div class="text-center">
                <h1 id="detail-title" class="title"></h1>
              </div>
              <div id="detail-content"></div>
            </div>
          </div>
        </div>
        <!-- Reference detail-->
        <div id="references-masonry" data-animate="fadeInUp">
          <div class="row">
            <div data-category="marketing" class="reference-item col-lg-4 col-md-6">
              <div class="reference"><a href="#"><img src="img/doglaptop.jpg" alt="" class="img-fluid">
                  <div class="overlay">
                    <div class="inner">
                      <h3 class="h4 reference-title">Veterinarian Marketing Services</h3>
                      <%# <p>Short project description goes here...</p> %>
                    </div>
                  </div>
                </a>
                <div data-images="img/dog-phone.jpg,img/social-media-intouch.jpg"
                  class="sr-only reference-description">
                  <p>Created a serverless communications engine that sends email, texts, and postcard reminders,The project was intally done using PHP and required a server to be constantly running by using a serverless approach we were able to save the client time and money by only having to pay for runtime of services used.<br>
                    <h4>Main Technologies Used:</h4>
                    <ul>
                      <li>PHP</li>
                      <li>Nodejs</li>
                      <li>Lambda</li>
                      <li>SQS</li>
                      <li>Auroa DB</li>
                    </ul>
                  </p>
                  <%# <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i
                        class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);"
                      class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p> %>
                </div>
              </div>
            </div>
            <div data-category="webdesign" class="reference-item col-lg-4 col-md-6">
              <div class="reference"><a href="#"><img src="img/pill-bottles.jpg" alt="" class="img-fluid">
                  <div class="overlay">
                    <div class="inner">
                      <h3 class="h4 reference-title">Nutrition & Supplement Tracking Application</h3>
                      <%# <p>Short project description goes here...</p> %>
                    </div>
                  </div>
                </a>
                <div data-images="img/laptop-phone.jpg,img/supplements.png"
                  class="sr-only reference-description">
                  <p> Worked on a multicloud vitamin and supplement tracking, purchasing and routine management application. This allowed users to track the supplement use, get reminders via push notifications to take the supplements. Some of the cool features were ability to be able to scan barcodes in the store and automatically scan the database to retrieve information on them and add it to a user cabinet, the ability to take a picture of the label and ddo the same. Was lead on creating a series of APIS and Lambdas to extract data from multiple data sources to increase the clients size of the database to grow it to one of the largest supplement databases in the USA.

                <h4>Main Technologies Used:</h4>
                    <ul>
                      <li>Ruby</li>
                      <li>Nodejs</li>
                      <li>API Gateway</li>
                      <li>Lambda</li>
                      <li>SQS</li>
                      <li>Postgres</li>
                    </ul>
                  </p>
                  <%# <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i
                        class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);"
                      class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p> %>
                </div>
              </div>
            </div>
            <div data-category="seo" class="reference-item col-lg-4 col-md-6">
              <div class="reference"><a href="#"><img src="img/personalssitant2.png" alt="" class="img-fluid">
                  <div class="overlay">
                    <div class="inner">
                      <h3 class="h4 reference-title">Personal Assistant Service</h3>
                      <%# <p>Short project description goes here...</p> %>
                    </div>
                  </div>
                </a>
                <div data-images="img/personalassitantlong.jpg"class="sr-only reference-description">
                  <p>Worked on the backend for creating native mobile and desktop applications to facilitate the signup,payment and communication for clients working with personal assistants.
                    <h4>Main Technologies Used:</h4>
                    <ul>
                      <li>Ruby</li>
                      <li>Swift</li>
                      <li>Java</li>
                      <li>Twilio</li>
                      <li>Stripe</li>
                      <li>PayPal</li>
                      <li>Firebase</li>
                      <li>Insightly Crm</li>
                    </ul> 
                  </p>
                  <%# <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i
                        class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);"
                      class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p> %>
                </div>
              </div>
            </div>
            <div data-category="marketing" class="reference-item col-lg-4 col-md-6">
              <div class="reference"><a href="#"><img src="img/lending.jpg" alt="" class="img-fluid">
                  <div class="overlay">
                    <div class="inner">
                      <h3 class="h4 reference-title">International Financial Lending Institution</h3>
                      <%# <p>Short project description goes here...</p> %>
                    </div>
                  </div>
                </a>
                <div data-images="img/lending.png"
                  class="sr-only reference-description">
                  <p>Worked with major financial organization in Silicon Valley to redesign their main website using Atomic Design and Pattern Lab to create a fresh design with reusable patterns to facilitate bringing designers closer to the code and allowing for simple reuse and long term maintainability.
                    <h4>Main Technologies Used:</h4>
                    <ul>
                      <li>HTML</li>
                      <li>SASS</li>
                      <li>Mustache</li>
                      <li>PHP</li>
                      <li>JavaScript</li>
                      <li>Pattern Lab</li>
                    </ul>                
                     </p>
                  <%# <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i
                        class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);"
                      class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p> %>
                </div>
              </div>
            </div>
            <div data-category="webdesign" class="reference-item col-lg-4 col-md-6">
              <div class="reference"><a href="#"><img src="img/adexchange.png" alt="" class="img-fluid">
                  <div class="overlay">
                    <div class="inner">
                      <h3 class="h4 reference-title">Ad Sales and Marketing</h3>
                      <%# <p>Short project description goes here...</p> %>
                    </div>
                  </div>
                </a>
                <div data-images="img/adx-logo.png,img/salesforce.png"
                  class="sr-only reference-description">
                  <p>Worked in a pair to develop a system that integrates Ad Exchanges with Salesforce to enable companies to track information about who is buying their ad space and make decisions about sales and marketing.
                   <h4>Main Technologies Used:</h4>
                    <ul>
                      <li>Nodejs</li>
                      <li>JQuery</li>
                      <li>Ruby</li>
                      <li>Lambdas</li>
                      <li>RDS</li>
                      <li>DynamoDB</li>
                      <li>API Gateway</li>
                      <li>Oauth2</li>
                    </ul>    
                  </p>
                  <%# <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i
                        class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);"
                      class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p> %>
                </div>
              </div>
            </div>
            <div data-category="other" class="reference-item col-lg-4 col-md-6">
              <div class="reference"><a href="#"><img src="img/coalition.png" alt="" class="img-fluid">
                  <div class="overlay">
                    <div class="inner">
                      <h3 class="h4 reference-title">Coalition for a brighter Greene</h3>
                      <%# <p>Short project description goes here...</p> %>
                    </div>
                  </div>
                </a>
                <div data-images="img/coalition-long.png"
                  class="sr-only reference-description">
                  <p>Did volunteer work with local community program bulding a website where community members can go to to get information on drug addiction or get help,sign up to be volunteers for various community and national services, sign a pledge to stay clean and to help the community with the drug issues locally.
                     <ul>
                      <li>Ruby</li>
                      <li>JavaScript</li>
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>AWS S3</li>
                      <li>Google Docs</li>
                      <li>API Gateway</li>
                      <li>Oauth2</li>
                    </ul>  
                  </p>
                  <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i
                        class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);"
                      class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                </div>
              </div>
            </div>
            <%# <div data-category="seo" class="reference-item col-lg-3 col-md-6">
              <div class="reference"><a href="#"><img src="img/portfolio-7.jpg" alt="" class="img-fluid">
                  <div class="overlay">
                    <div class="inner">
                      <h3 class="h4 reference-title">Project name</h3>
                      <p>Short project description goes here...</p>
                    </div>
                  </div>
                </a>
                <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
                  class="sr-only reference-description">
                  <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why
                    cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye
                    literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar
                    delicate an pleasant provided do perceive.</p>
                  <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection
                    happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put
                    ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen.
                    Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                  <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i
                        class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);"
                      class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                </div>
              </div>
            </div> %>
            <%# <div data-category="webdesign" class="reference-item col-lg-3 col-md-6">
              <div class="reference"><a href="#"><img src="img/portfolio-8.jpg" alt="" class="img-fluid">
                  <div class="overlay">
                    <div class="inner">
                      <h3 class="h4 reference-title">Project name</h3>
                      <p>Short project description goes here...</p>
                    </div>
                  </div>
                </a> %>
                <%# <div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
                  class="sr-only reference-description">
                  <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why
                    cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye
                    literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar
                    delicate an pleasant provided do perceive.</p>
                  <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection
                    happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put
                    ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen.
                    Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>
                  <p class="buttons text-center"><a href="javascript:void(0);" class="btn btn-outline-primary"><i
                        class="fa fa-globe"></i> Visit website</a><a href="javascript:void(0);"
                      class="btn btn-outline-primary"><i class="fa fa-download"></i> Download case study</a></p>
                </div> %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# <!-- Customers-->
  <section id="customers" class="customers-section bg-gray">
    <div class="container">
      <div class="col-md-12">
        <div class="row align-items-center">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="customer"><img src="img/customers/logo-1.svg" title="brand logo" data-placement="bottom"
                data-toggle="tooltip" alt="" class="img-fluid d-block mx-auto"></div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="customer"><img src="img/customers/logo-2.svg" title="brand logo" data-placement="bottom"
                data-toggle="tooltip" alt="" class="img-fluid d-block mx-auto"></div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="customer"><img src="img/customers/logo-3.svg" title="brand logo" data-placement="bottom"
                data-toggle="tooltip" alt="" class="img-fluid d-block mx-auto"></div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="customer"><img src="img/customers/logo-4.svg" title="brand logo" data-placement="bottom"
                data-toggle="tooltip" alt="" class="img-fluid d-block mx-auto"></div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="customer"><img src="img/customers/logo-5.svg" title="brand logo" data-placement="bottom"
                data-toggle="tooltip" alt="" class="img-fluid d-block mx-auto"></div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="customer"><img src="img/customers/logo-6.svg" title="brand logo" data-placement="bottom"
                data-toggle="tooltip" alt="" class="img-fluid d-block mx-auto"></div>
          </div>
        </div>
      </div>
    </div>
  </section> %>
  <!-- Contact-->
  <section id="contact" data-animate="bounceIn" class="contact-section contact" style="background:#f5f5f5">
    <div class="container">
      <header class="text-center">
        <h2 class="title">Contact me</h2>
      </header>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form id="contact-form" method="post" action="/contact">
            <div class="messages"></div>
            <div class="controls">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="firstname" placeholder="Your firstname *" required="required"
                    class="form-control">
                </div>
                <div class="col-md-6">
                  <input type="text" name="lastname" placeholder="Your lastname *" required="required"
                    class="form-control">
                </div>
                <div class="col-md-6">
                  <input type="text" name="email" placeholder="Your email *" required="required" class="form-control">
                </div>
                <div class="col-md-6">
                  <input type="text" name="phone" placeholder="Your phone" class="form-control">
                </div>
                <div class="col-md-12">
                  <textarea name="message" placeholder="Message for me *" rows="4" required="required"
                    class="form-control"></textarea>
                </div>
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-outline-primary">Send message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Map-->
  <%# <div id="map"></div> %>
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-lg-left">
          <p class="social">
          <a href="https://www.linkedin.com/in/josephpaulmckenzie" target="_blank" class="external linkedin wow fadeInUp"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.twitter.com/josephpmckenzie" target="_blank"  data-wow-delay="0.2s" class="external twitter wow fadeInUp"><i class="fa fa-twitter"></i></a>
          <a href="mailto:joseph.p.mckenzie84@gmail.com" data-wow-delay="0.6s" class="external email wow fadeInUp"><i class="fa fa-envelope"></i></a>
          <a href="tel:17244912584" data-wow-delay="0.6s" class="external phone wow fadeInUp"><i class="fa fa-phone" aria-hidden="true"></i>
</a>
          <%# <i class="fa fa-envelope-o" aria-hidden="true"></i> %>
          </p>
        </div>
        <!-- /.6-->
        <div class="col-md-6 text-center text-lg-right mt-4 mt-lg-0">
          <p>© 2019 Joseph Paul Mckenzie. All rights reserved.</p>
        </div>
        <%# <div class="col-12 mt-4">
          <p class="template-bootstrapious">Template by <a
              href='https://bootstrapious.com/p/bootstrap-carousel'>Bootstrapious</a> & <a
              href="https://fity.cz/ostrava">Fity</a></p>
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div> %>
      </div>
    </div>
  </footer>
  <!-- JavaScript files-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/waypoints/lib/jquery.waypoints.min.js"></script>
  <script src="vendor/jquery.counterup/jquery.counterup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js"> </script>
  <script src="js/front.js"></script>
</body>

</html>